#Client-sided folders
.mixin.out/
crash-reports/
local/
journeymap/
resourcepacks/
logs/
.git/
shaderpacks/
texturepacks/
saves/
screenshots/
server-resource-packs/
mods/1.12.2
mods/.index
mods/OpenTerrainGenerator
mods/memory_repo
backups/
coremods/

.vscode/

#Prism files
.curseclient
usercache.json
usernamecache.json
minecraftinstance.json
instance.json

hei_bookmarks.ini
icon.png

#File extenstions
*.log
*.txt
*.dll
*.disabled

#Client-sided configs
config/splash.properties
config/brandon3055/contributors.json
config/InvTweaks/InvTweaks.cfg
config/betterquesting.cfg
config/jei/worldSettings.cfg
config/Actually Advanced Info.cfg
config/InvTweaks/InvTweaks.cfg
config/splash.properties
mods/AAInfo-1.0.1.jar
mods/AAInfo-1.0.1.jar.disabled
config/AppliedEnergistics2/VersionChecker.cfg
config/tconstruct_oredictcache.dat
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/activity.json
