.mixin.out/
crash-reports/
local/
journeymap/
resourcepacks/
logs/
.git/
shaderpacks/
texturepacks/
saves/
screenshots/
server-resource-packs/

.vscode/

.curseclient
usercache.json
usernamecache.json
minecraftinstance.json
instance.json

hei_bookmarks.ini
icon.png

*.log
*.txt
*.dll
